dnsName: 'sboptrsrc'
variables: {
    SUPPORTED_MONGO_VERSIONS: '5.0-focal,4.4-focal,4.2-bionic'
}

environments: {
    test: {
        build: '''
            wait-for-registry
            bash pelton/print-test-image.sh | docker build \
                    -f - \
                    -t $PELTON_DOCKER_REGISTRY/sboptrsrc \
                    . >&2
            docker push $PELTON_DOCKER_REGISTRY/sboptrsrc >&2
            docker inspect --format='{{index .RepoDigests 0}}' \
                    $PELTON_DOCKER_REGISTRY/sboptrsrc:latest
        ''',
        printProjectManifest: 'cat pelton/test-job.yaml | envsubst',
        dependencies: [
            {
                printProjectDirectory: 'echo pelton/mongodb',
                environment: 'test'
            }
        ],
        podSelector: 'test-job=sb-optimistic-resources-${PELTON_RUN}'
    }
}
