dnsName: 'mongodb'
environments: {
    default: {
        peltonDependencies: []
    },
    test: {
        printTerminalDependencies: 'bash print-static-deps',
        peltonDependencies: []
    }
}
